<!DOCTYPE html>
<html lang="en" ng-app="micasaApp">
<head>
    <title>MiCasa</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-theme.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">
</head>
<body ng-controller="listingsController">

    <nav class="navbar navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand" style="padding: 3px; vertical-align: middle;">
                <img src="img/logo.jpg" style="width: 125px; height: 45px;">
            </div>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-right" role="search" ng-submit="search()">
                <div class="input-group" style="width: 260px; padding-left: 10px;">
                    <input type="text" class="form-control" placeholder="Search" ng-model="criteria.keyword">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button" ng-click="search()"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;Favourites</a></li>
                <li><a href="#" ng-click="openSettings()"><span class="glyphicon glyphicon-wrench"></span>&nbsp;Settings</a></li>
            </ul>
        </div>
    </nav>

    <div class="contents" my-scrolling="next()">
        <ul class="list-inline">
            <li ng-repeat="listing in listings">
                <div class="thumbnail" ng-class="{{listing}}">
                    <div class="thumbnail-item" ng-mouseenter="hover(listing)" ng-mouseleave="hover(listing)">
                        <img class="img-responsive" ng-src="{{listing.currentImage}}" ng-click="open(listing)" my-loaded="loaded(listing)" />
                        <!--
                        <button type="button" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;Add</button>
	                    -->
                        <div class="thumbnail-item-caption"></div>
                        <div class="thumbnail-item-caption-price">&nbsp;{{listing.price}}</div>
                        <div class="thumbnail-item-caption-count" align="right">{{listing.currentImageIndex + 1}}/{{listing.images.length}}&nbsp;</div>
                        <div class="thumbnail-item-chevron thumbnail-item-chevron-left" ng-show="listing.showPager" ng-click="pageLeft(listing)">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </div>
                        <div class="thumbnail-item-chevron thumbnail-item-chevron-right" ng-show="listing.showPager" ng-click="pageRight(listing)">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </div>
                        <div class="thumbnail-item-loading" ng-show="listing.busy"></div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <script src="lib/bower_components/jquery/jquery.min.js"></script>
    <script src="lib/bower_components/angular/angular.js"></script>
    <script src="lib/bower_components/angular-ui-bootstrap3-patched/ui-bootstrap-tpls.js"></script>
    <script src="lib/bower_components/underscore/underscore.js"></script>
    <script src="lib/utils.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/listings.js"></script>
    <script src="js/controllers/settings.js"></script>

</body>
</html>
